/**
*   Style       : CorvanisDashboard 
*   Fichier     : style.css
*   Version     : 1.0.0.
*   Auteur(s)   : Dakin Quelia <dakinquelia@gmail.com>
**/
@charset "UTF-8";
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
    /* Global */
    --poppins:              'Poppins', sans-serif;
    --lato:                 'Lato', sans-serif;
    --sidebar-width:        280px;
    --border-radius-btn:    36px;
    /* Couleurs */
    --light:                #F9F9F9;
    --black:                #222222;
    --blue:                 #3C91E6;
    --blue-2:               #3B5998;
    --blue-3:               #1DA1F2;
    --light-blue:           #CFE8FF;
    --light-blue-2:         #e0f0ff;
    --grey:                 #EEEEEE;
    --dark-grey:            #AAAAAA;
    --dark-grey-2:          #CCCCCC;    
    --dark:                 #342E37;
    --dark-light-1:         #343434;
    --dark-light-2:         #555555;
    --light-grey:           #ebe9e9; 
    --light-grey-2:         #DDDDDD;
    --light-grey-3:         #EEEEEE;
    --red:                  #DB504A;
    --light-red:            #fdc5c3;
    --yellow:               #FFCE26;
    --yellow-2:             #E2A03F;
	--light-yellow:         #FFF2C6;
    --orange:               #FD7238;
    --light-orange:         #FFE0D3;
    --green:                #008000;
    --green-2:              #25D366;
    --light-green:          #C2FFC2;
    --violet:               #805DCA;
    --white:                #FFFFFF;
    --pink:                 #C13583;
    /* Autres couleurs */
    --primary:              var(--blue);
    --secondary:            var(--yellow-2);
    /* Couleurs des composants */
    --modal-border-color:   var(--light-grey-2);
    --color-facebook:       var(--blue-2);
    --color-twitter:        var(--blue-3);
    --color-whatsapp:       var(--green-2);
    --color-instagram:      var(--pink);
    /* Composant : tag */
    --tag-bg:               var(--black);
    --tag-color:            var(--white);
}

/**
*   Global
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
	overflow: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

body.dark {
	--light:                #0C0C1E;
	--grey:                 #060714;
	--dark:                 #FBFBFB;
}

.container {
    background: var(--light);
    border-radius: 8px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
    color: var(--dark);
    padding: 10px 24px;
    width: 100%;
}

body > .container {
    margin-bottom: 10px;
}

body > .container:last-of-type {
    margin-bottom: 0;
}

.row {
    display: flex;
    margin-bottom: .5rem;
}

/**
*   Formulaires du container
**/
.container form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    position: relative;
}

.container form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.container form .form-input input {
    flex-grow: 1;
    padding: 0 12px;
    height: 100%;
    border: none;
    border-radius: 8px;
    background: var(--grey);
    outline: none;
    width: 100%;
}

.container form .form-input button {
    cursor: pointer;
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 0 var(--border-radius-btn) var(--border-radius-btn) 0;
}

.container form .form-input button:hover {
    color: var(--dark);
}

/**
*   Barre latérale (sidebar)
**/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--light);
    font-family: var(--lato);
    z-index: 1000;
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar::--webkit-scrollbar {
	display: none;
}

.sidebar.hide {
    width: 60px;
}

.sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
}

.sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: var(--dark);
    background: var(--light);
    border-radius: 48px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.sidebar .side-menu li.active a {
    color: var(--blue);
}

.sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

.sidebar .side-menu li a.logout {
    color: var(--red);
}

.sidebar .side-menu li a:hover {
    color: var(--blue);
}

.sidebar .side-menu li a i {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
*   Contenu (content)
**/
.content {
   position: relative;
   width: calc(100% - var(--sidebar-width));
   left: var(--sidebar-width);
   transition: .3s ease;
}

.sidebar.hide ~ .content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    position: relative;
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
}

.content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
}

.content nav i.bx.bx-menu {
    cursor: pointer;
}

.content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

.content nav .nav-link:hover {
    color: var(--blue);
}

.content nav .notification {
    position: relative;
    font-size: 20px;
}

.content nav .notification:hover {
    color: var(--blue);
}

.content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

/**
*   Formulaires (forms)
**/
.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    border-radius: var(--border-radius-btn) 0 0 var(--border-radius-btn);
    background: var(--grey);
    outline: none;
    width: 100%;
}

.content nav form .form-input button {
    cursor: pointer;
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 var(--border-radius-btn) var(--border-radius-btn) 0;
}

.content nav form .form-input button:hover {
    color: var(--dark);
}

/**
*   Zone de contenu principal
**/
.content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .head-title .left .breadcrumb li {
    color: var(--dark); 
}

.content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
}

.content main .head-title .button {
    height: 36px;
    padding: 0 16px;
    border-radius: var(--border-radius-btn);
    background: var(--blue);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .head-title .button:hover {
    background: rgba(255, 255, 255, 0.9);
    color: var(--dark);
}

.content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .box-info li {
    padding: 10px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.content main .box-info .text h3 {
    font-size: 20px;
}

.content main .box-info .text {
    font-size: 13px;
}

.content main .box-info li .bx {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .box-info li:nth-child(1) i.bx {
    background: var(--light-blue);
    color: var(--blue);
}

.content main .box-info li:nth-child(2) i.bx {
    background: var(--light-orange);
    color: var(--orange);
}

.content main .box-info li:nth-child(3) i.bx {
    background: var(--light-red);
    color: var(--red);
}

.content main .box-info li:nth-child(4) i.bx {
    background: var(--light-green);
    color: var(--green);
}

.content main .box-info li:nth-child(5) i.bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

/**
*   Formulaires
**/
.container .form {
    margin-top: 15px;
}

.container .form input {
    margin-right: 10px;
}

.form {
    width: 100%;
    position: relative;
}

.form.password-checker {
    max-width: 400px;
    padding: 4px;
}

.form .form-group {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.form .form-group .input-group {
    position: relative;
    width: 100%;
}

.form .form-group .input-group input {
    width: 100%;
    padding: 5px 10px;
    background: var(--light);
    border: 1px solid var(--dark-grey-2);
    border-radius: 4px;
    outline: none;
}

.form .form-group .input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    background: var(--light);
    color: var(--dark-grey);
    font-weight: 500;
    pointer-events: none;
    padding: 0 4px;
    transition: all .3s ease;
}

.form .form-group .input-group input:focus + label,
.form .form-group .input-group input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 11px;
}

.form .form-group .input-group .show-pass {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-grey);
    transition: all .3s ease;
}

.form .form-group .input-group .show-pass:hover {
    color: #000000;
}

.form .form-group .label {
    display: flex;
}

.form .strength {
    --width: 0;
    --bg-color: transparent; 
    width: 100%;
    height: 6px;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--light-grey-3);
    position: relative;
    overflow: hidden;
}

.form .strength::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width);
    background: var(--bg-color);
    height: 100%;
    transition: all .3s ease;
}

.form .help-text {
    font-size: 12px;
    margin-top: 8px;
    color: var(--dark-grey);
}

.form .help-container {
    position: absolute;
    width: 350px;
    padding: 15px;
    left: 105%;
    top: -12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
    background-color: var(--white);
    border-radius: 8px;
    z-index: 100;
}

.form .help-container .arrow {
    width: 13px;
    height: 13px;
    border-top: thin solid #d4d4d4;
    border-left: thin solid #d4d4d4;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: -8px;
    background-color: var(--white);
    z-index: 50;
}

.form select {
    cursor: pointer;
	font-family: 'Oufit', sans-serif;
	padding: 5px 40px 5px 10px;
	border-radius: 4px;
	border: 1px solid var(--dark-grey-2);
	outline: none;
	transition: all .2s;
	appearance: none;
    min-width: 170px;
    background-color: var(--light);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 16L6 10H18L12 16Z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 8px center;
	background-size: 18px 18px;
}

.form select options {
    font-family: var(--lato) !important;
}


/**
*   Tableaux
**/
.content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
}

.content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    flex-grow: 1;
    overflow-x: auto;
}

.content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
    min-width: 420px;
}

.content main .table-data .head .bx {
    cursor: pointer;
}

.content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 420px;
}

.content main .table .table-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--grey);
}

.content main .table .table-header .col {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.content main .table .table-header > .col {
    width: 100%;
}

.content main .table .table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content main .table .table-body > .row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
}

.content main .table .table-body > .row:first-child {
    margin-top: 15px;
}

.content main .table .table-body > .row:last-child {
    margin-bottom: 0;
}

.content main .table .table-body > .row:hover {
    background: var(--grey);
    border-radius: 10px;
}

.content main .table .table-body > .row > .col {
    width: 100%;
}

.content main .table .table-body > .row > .col:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
}

.content main .table .table-body > .row .col img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .table .table-footer { }

/**
*   Composant : tâches (todos)
**/
.content main .table-data .todos { }

.content main .table-data .todos .todo-list {
    width: 100%;
    min-width: 420px;
}

.content main .table-data .todos .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 10px solid;
}

.content main .table-data .todos .todo-list li:last-child {
    margin-bottom: 0;
}

.content main .table-data .todos .todo-list li.completed {
    border-left-color: var(--blue);
}

.content main .table-data .todos .todo-list li.not-completed {
    border-left-color: var(--red);
}

.content main .table-data .todos .todo-list li .bx {
    cursor: pointer;
}

/**
*   Composant : statut (status)
**/
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 12px;
    padding: 3px 16px;
    color: var(--light);
    border-radius: 20px;
    background: var(--grey);
    overflow-x: hidden;
}

.status.process {
    background: var(--orange);
}

.status.pending {
    background: var(--yellow);
}

.status.completed {
    background: var(--blue);
}

.status.canceled {
    background: var(--red); 
}

.status.success {
    background: var(--green); 
}

/**
*   Composant : modal
**/
.modal {
    max-width: 600px;
    width: 100%;
    background: var(--light);
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
    height: auto;
    margin-bottom: 10px;
}

.modal .modal-header {

}

.modal .modal-body {
    font-size: 12px;
}

.modal .modal-footer {
    
}

.modal .modal-body .modal-content {
    font-size: 12px;
}

.modal .modal-body .modal-content h2,
.modal .modal-body .modal-content p {
    margin: 10px;
}

.modal h3:not(.modal-header) {
    margin-bottom: 15px;
}

.modal .modal-body:not(.modal-content) p {
    margin-bottom: 10px;
}

/**
*   Composant : tabs (horizontal)
**/
.tab-menu-bg {
    background: var(--light);
    border-radius: 16px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
    color: var(--dark);
}

.tab-menu {
    display: flex;
    position: relative;
    grid-gap: 24px;
    padding: 0 10px 10px 0;
    border-bottom: 1px solid var(--modal-border-color);
    flex-wrap: wrap;
}

.tab-menu > li {
    position: relative;
    cursor: pointer;
    color: var(--dark-grey);
    transition: all .3s ease;
    user-select: none;
    white-space: nowrap;
}

.tab-menu > li:hover {
    color: var(--dark);
}

.tab-menu > li.active {
    color: var(--primary);
}

.tab-menu .dropdown {
    position: absolute;
    top: 130%;
    right: 0;
    width: 160px;
    padding: 10px 0;
    background: var(--light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .07);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 100;
}

.tab-menu > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.tab-menu .dropdown li {
    padding: 8px 16px;
    transition: all .3s ease;
    color: var(--dark-grey);
}

.tab-menu .dropdown li:hover {
    background: var(--grey);
    color: var(--dark);
}

.tab-menu .dropdown li.active {
    color: var(--primary);
}

.tab-menu .dropdown .separator {

}

.tab-menu .line {
    position: absolute;
    bottom: 0;
    left: 10px;
    height: 2px;
    background: var(--primary);
    transition: all .3s ease;
}

.tab-contents .tab-content {
    display: none;
}

.tab-contents .tab-content.active {
    display: block;
}

.tab-contents .tab-content h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
    margin: 10px 0;
}

.tab-contents .tab-content p {
    margin-bottom: 10px;
    color: var(--dark);
}

/**
*   Composant : tabs (vertical)
**/
.tab-menu-vr {
    display: flex;
}

.tab-menu-vr .indicator {
    min-width: 200px;
    margin: -24px 15px -10px -24px;
    border-right: 1px solid var(--grey);
}

.tab-menu-vr > .indicator {
    padding: 1.5rem 0;
}

.tab-menu-vr .indicator li {
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    padding: 10px 1rem;
    font-size: .875rem;
    color: var(--black);
    border-right: 3px solid transparent;
    user-select: none;
}

.tab-menu-vr .indicator li i {
    font-size: 1rem;
}

.tab-menu-vr .indicator li.active {
    border-right-color: var(--blue);
    background: var(--light-blue-2);
    color: var(--blue);
}

.tab-menu-vr .indicator li:hover {
    background: var(--light-blue-2);
}

.tab-menu-vr > .tab-content {
    padding: 0 1rem 1rem 1rem;
}

.tab-menu-vr .tab-content li {
    display: none;
}

.tab-menu-vr .tab-content li.active {
    display: block;
}

.tab-menu-vr .tab-content li h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: .75rem;
}

.tab-menu-vr .tab-content li p {
    text-align: justify;
    font-size: .875rem;
    margin-bottom: .5rem;
    color: var(--black);
}

/**
*   Composant : menu contextuel
**/
.context-menu {
    font-family: var(--lato);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 220px;
    background: var(--light);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .09);
    border-radius: 8px; 
    z-index: 100;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.context-menu.show {
    opacity: 1;
    visibility: visible;
}

.context-menu .divider {
    height: 1px;
    background: var(--grey);
    margin: 5px 0;
}

.context-menu li {
    position: relative;
}

.context-menu li a {
    display: flex;
    align-items: center;
    grid-gap: .75rem;
    padding: .25rem 1rem;
    color: var(--dark);
    font-size: .875rem;
    font-weight: 500;
}

.context-menu li a:hover {
    color: var(--blue);
    background: var(--grey);
}

.context-menu li a i {
    font-size: 1.25rem;
    width: 20px;
    height: 20px;
}

.context-menu li a i.bx-x {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    font-size: 1.70rem;
}

.context-menu li a i.bxl-facebook {
    color: var(--color-facebook);
}

.context-menu li a i.bxl-twitter {
    color: var(--color-twitter);
}

.context-menu li a i.bxl-whatsapp {
    color: var(--color-whatsapp);
}

.context-menu li a i.bxl-instagram {
    color: var(--color-instagram);
}

.context-menu li a .arrow {
    margin-left: auto;
}

.context-menu .dropdown-menu {
    position: absolute;
    top: 5px;
    left: 100%;
    min-width: 220px;
    background: var(--light);
    border-radius: 8px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.context-menu li:hover > .dropdown-menu {
    top: -5px;
    left: 102%;
    opacity: 1;
    visibility: visible;
}

/**
*   Composant : select personnalisé
**/


/**
*   Composant : gestion des tags (tags)
**/
.tags-wrap .wrapper {
    padding: 4px;
    border: 1px solid var(--dark-grey-2);
    border-radius: 4px;
    width: 100%;
}

.tags-wrap .wrapper li {
    list-style-type: none;
}

.tags-wrap .wrapper .tags {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    flex-wrap: wrap;
}

.tags-wrap .wrapper .tags li {
    background: var(--light-grey);
    padding: 2px 4px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    grid-gap: 6px;
}

.tags-wrap .wrapper .tags li .text {
    padding: 2px;
}

.tags-wrap .wrapper .tags li .close-button {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s ease;
}

.tags-wrap .wrapper .tags li .close-button:hover {
    background: #D7D7D7;
    color: var(--black);
}

.tags-wrap .wrapper .tags .input-tag {
    flex-basis: 70px;
    flex-grow: 1;
    outline: none;
    min-width: 70px;
    padding: 2px 4px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
}

.tags-wrap .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tags-wrap .bottom .remove-all {
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    transition: .3s ease;
}

.tags-wrap .bottom .remove-all:hover {
    background: rgba(255, 255, 255, .5);
    border: 1px solid var(--blue);
    color: var(--black);
}

.tags-wrap .bottom > p {
    margin-top: 10px;
}

.tags-wrap .bottom .total-tags {
    font-weight: 600;
}

/**
*   Composant : tags label
**/
.tags-label {

}

.tag-label {
    font-size: 85%;
    font-weight: 600;
    display: inline-flex;
    padding: .1em .5em;
    border-radius: 4px;
    background: var(--tag-bg);
    color: var(--tag-color);
    text-transform: none;
    text-decoration: none !important;
    vertical-align: bottom;
}

.tags-label .tag-label:last-child {
    border-radius: 0 4px 4px 0;
}

.tag-label-text {

}

/**
*   Composant : vérificateur mot de passe (password checker)
**/
.password-container {
    position: relative;
    width: 100%;
}

.password-container .strength-container {
    position: absolute;
    width: 350px;
    padding: 15px;
    /*left: 280px;
    top: 27px;*/
    left: 410px;
    top: -12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
    background-color: var(--white);
    border-radius: 8px;
    z-index: 100;
}

.password-container .strength-container .title {
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    line-height: 20px;
}

.password-container .strength-container .strength-bar {
    --width: 0;
    --bg-color: transparent; 
    width: 100%;
    height: 6px;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--light-grey-3);
    position: relative;
    overflow: hidden;
}

.password-container .strength-container .strength-description {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
    line-height: 18px;
}

.password-container .strength-container .arrow {
    width: 13px;
    height: 13px;
    border-top: thin solid #d4d4d4;
    border-left: thin solid #d4d4d4;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: -8px;
    background-color: var(--white);
    z-index: 50;
}

/**
*   Responsive
**/
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }

    .content nav .nav-link {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .content nav form .form-input input {
        display: none;
    }

    .content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 var(--border-radius-btn) var(--border-radius-btn) 0;
        background: var(--red);
        color: var(--light);
    }

    .content nav form.show ~ .notification,
    .content nav form.show ~ .profile {
        display: none;
    }

    .content main .box-info {
        grid-template-columns: 1fr;
    }

    .content main .table-data .head {
        min-width: 420px;
    }

    .content main .table-data .todos .todo-list {
        min-width: 420px;
    }

    .tab-menu-vr .indicator {
		border-right: none;
	}
}